/*Body Styles*/
body, div{
  display: flex;
align-items: center;
justify-content: space-evenly;
  margin: auto;
}
section{
  display: flex;
  flex-direction: column;
 max-width: 500px;
}

/*Image Styles*/
img{
  max-width: 600px;
object-fit: cover;
  object-position: -3px 200px ;
}

/*Text Styles*/
h2{
  align-items: flex-start;
  padding:0 50px;
}
h3{
  padding: 30px;
  font-weight: normal;
}
