<body>
<section>
 <h2>How to Use</h2>
  <div>
    <h3>1 </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab alias assumenda delectus, ea illum laborum magnam magni nisi totam!</p>
  </div>
  <div>
    <h3>2 </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab alias assumenda delectus, ea illum laborum magnam magni nisi totam!</p>
  </div>
  <div>
    <h3>3 </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab alias assumenda delectus, ea illum laborum magnam magni nisi totam!</p>

  </div>
</section>
<img src="assets/PHONES.png" alt="">

</body>

