
@keyframes cursor-blink {
  0% {
    opacity:0;
  }
}

 h1::after {
  content:"";
  width: 10px;
  height: 5px;
 background: white;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}





body{
  display: flex;
  background-color: black;
  margin: auto;
  padding: 130px 5px;
  justify-content: space-around;
  align-items: center;
}
section{
  width: 45%;
  margin: auto;
}
h1, p{
  color: white;
}
img{
  max-width: 400px;
  min-width: 100px;
}
/*Responsive styling*/
@media only screen and (max-width: 607px) {
 body {
    flex-direction:column ;
   text-align: center;

  }

  img{
    max-width: 300px;
display: none;
  }

}
