/*Body Styles*/
body{
  padding: 6vh;
  background-color: #F5F5F5;
  margin: 30px;
}
body, div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
section{
  text-align: right;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}


/*Image Styles*/
img{
  max-width: 320px;
}
